includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    paths:
        - classes/
    bootstrapFiles:
        - tests/static-analysis/bootstrap.php
        - autoload.php
    ignoreErrors:
        # We do not care about unused files in Psr\Log package.
        - '#^Trait Psr\\Log\\\w+ is used zero times and is not analysed\.$#'
