includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    # https://phpstan.org/config-reference#vague-typehints
    checkGenericClassInNonGenericObjectType: false
    paths:
        - %currentWorkingDirectory%/classes/
    bootstrapFiles:
        - %currentWorkingDirectory%/tests/static-analysis/bootstrap.php
        - %currentWorkingDirectory%/autoload.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        # Apply "checkMissingIterableValueType: false" to Psr\Log classes for the time being.
        - '#^Method Psr\\Log\\\w+::\w+\(\) has parameter \$context with no value type specified in iterable type array\.$#'