<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="BC Security Test Suite">
			<directory suffix="Test.php">./tests/src/Cases</directory>
		</testsuite>
	</testsuites>
</phpunit>
