<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="wordpress.php" backupGlobals="false" cacheResult="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
  <coverage>
    <report>
      <clover outputFile="../../build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="BC Security unit test">
      <directory suffix="Test.php">./src/Cases</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../../classes</directory>
    </include>
  </source>
</phpunit>
